**/.classpath
**/.dockerignore
**/.git
**/.github
**/.husky
**/.idea
**/.next
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/_.dbmdl
\*\*/_.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
\*\*/Dockerfile*
**/node_modules
\*\*/npm-d
