@import './tailwind.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-mde/lib/styles/css/react-mde-all.css';
@import 'react-confirm-alert/src/react-confirm-alert.css';

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  text-align: center;
  background-color: #1d5d90;
  border-bottom: 0px;
  padding-top: 8px;
  position: relative;
}

.react-datepicker__current-month {
  color: #ffff !important;
}

.react-datepicker__day-name {
  color: #ffff !important;
}

.paginate-link-active {
  color: #fff !important;
  background: #2563eb !important;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: -7px;
}

.mde-text {
  height: 100px !important;
  resize: none !important;
}

.react-mde-tabbed-layout {
  border-radius: 12px !important;
  overflow: hidden !important;
  border: 1px solid #cbd5e1 !important;
}

.mde-header {
  background-color: #f8fafc !important;
  color: #64748b !important;
}

.mde-header-group .mde-header-item {
  background-color: #f8fafc !important;
  color: #64748b !important;
}
.image-tip {
  background-color: #f8fafc !important;
  color: #64748b !important;
}
